<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SupermarketConnection" connectionString="server=localhost;user id=root;password=1;database=supermarket" providerName="MySql.Data.MySqlClient" />
    <add name="Supermarket" connectionString="Data Source=.;Initial Catalog=Supermarket;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>